.carousel{
    display: flex;
    flex-direction: column;

    .header{
        display: flex;
        flex-direction: row;
        margin: 10px;
        align-items: center;

        .icon{
            display: flex;
            justify-content: center;
            margin: 10px;
            background-color: blueviolet;
            color: white;
            padding: 10px;
            border-radius: 10px;
        }
    
        .titles{
            display: flex;
            flex-direction: column;

            .title{
                font-size: 1.2rem;
                color:blueviolet;
            }
        
            .subtitle{
                font-size: 0.9rem;
                color: cadetblue;
            }
        }
    }

    .cards-container{
        display: flex;
        flex-direction: row;
        overflow: scroll;
        overflow: hidden;
        align-items: center;
        

        .cards-overflow{
            display: flex;
            flex-direction: row;
        }

        .scroll-action{
            position: absolute;
            cursor: pointer;
            width: 40px;
            height: 150px;
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            z-index: 10;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: opacity 0.5s;
            
        }
    
        .scroll-action:hover{
            opacity: 1;
        }
    
        .left-scroll{
            left: 0;
    
        }
    
        .right-scroll{
            right:0;
        }
    
        .card{
            margin: 10px;
            box-shadow: 0px 0px 2px grey;
            background-color: white;

            img{
                object-fit: cover;
                height: 150px;
                width: 220px;
            }

            .content{
                padding: 6px;
                .title{
                    color: blueviolet;
                }
            }
        }
    }
}