.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.carousel .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel .header .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
  background-color: blueviolet;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.carousel .header .titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.carousel .header .titles .title {
  font-size: 1.2rem;
  color: blueviolet;
}

.carousel .header .titles .subtitle {
  font-size: 0.9rem;
  color: cadetblue;
}

.carousel .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: scroll;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel .cards-container .cards-overflow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.carousel .cards-container .scroll-action {
  position: absolute;
  cursor: pointer;
  width: 40px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.carousel .cards-container .scroll-action:hover {
  opacity: 1;
}

.carousel .cards-container .left-scroll {
  left: 0;
}

.carousel .cards-container .right-scroll {
  right: 0;
}

.carousel .cards-container .card {
  margin: 10px;
  -webkit-box-shadow: 0px 0px 2px grey;
          box-shadow: 0px 0px 2px grey;
  background-color: white;
}

.carousel .cards-container .card img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 150px;
  width: 220px;
}

.carousel .cards-container .card .content {
  padding: 6px;
}

.carousel .cards-container .card .content .title {
  color: blueviolet;
}

.carousel .cards-container .dummy-card {
  -webkit-animation-name: loading;
          animation-name: loading;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.carousel .cards-container .dummy-card .dummy-img {
  height: 150px;
  width: 220px;
  background-color: grey;
}

.carousel .cards-container .dummy-card span {
  background-color: grey;
  color: grey;
}

@-webkit-keyframes loading {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes loading {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
/*# sourceMappingURL=carousel.css.map */